body{
    color: white;
    background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.auto{
    box-sizing: border-box;
    border: 2px solid white;
}
#box {
    background-color: white;

}
#details p {
    text-align: left;
    font-weight: bolder;
}
span {
    font-weight: lighter;
}
img {
    width: 70%;
    border: 2px solid black;
}
h2{
    text-transform: uppercase;
}
#details  {
box-sizing: border-box;  
padding: 10px;
}